<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments Home</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <div th:insert="fragments/page_style"></div>
</head>
<div th:insert="~{/fragments/nav-bar :: navbar}"></div>
<body class="body-css">
<div class="container">
    <div class="image-caption" style="position: relative;"><p> Please choose an option for Mongo Comments</p></div>
    <div class="btnflex-box"><a class="btn btn-sm btn-custom-css" role="button"
                                style="background-color: #ff4057; color: #FCFFEB;"
                                th:href="@{/web/comments/search-by-name}"> Search for comments by User Name<i></i></a> <a
            class="btn btn-sm btn-custom-css" role="button" style="background-color: #ff4057; color: #FCFFEB;"
            th:href="@{/web/comments/search-by-movie}"> Search for comments by Movie Title<i></i></a> <a
            class="btn btn-sm btn-custom-css" role="button" style="background-color: #ff4057; color: #FCFFEB;"
            th:href="@{/web/comments/create}"> Create New comments(ADMIN)<i></i></a></div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</body>
</html>