<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Search</title>
</head>
<body>
<button type="submit" class="btn btn-light btn-custom-css" style="background-color: #ff4057; color: #FCFFEB;"><a th:href="@{/comments}">Back to Search Home</a></button>
<h1 style="text-align: center">Comment Search</h1>
<form style="text-align: center" th:action="@{/web/comments/results-by-name}" method="get">
    <label for="name">Name</label>
    <input type="text" id="name" name="name"/><br/>
    <input style="text-align: center" type="submit" value="Search"/>
</form>
</body>
</html>