<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #FCFFEB;
            color: #282634;
            text-align: center;
        }
    </style>
    <script src="https://kit.fontawesome.com/2ea35bdb18.js" crossorigin="anonymous"></script>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <p><i class="fa-regular fa-copyright" style="color: #282634;">  Copyright Mongo Movies</i></p>
</footer>
</body>
</html>