<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manager Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <div th:insert="fragments/form-style"></div>
  </style>
</head>
<body class="body-css">
<h1 class="h1-css">User Edit Form</h1>
<form th:action="@{/web/updateUser}" th:object="${userToEdit}" method="post">
  <!-- <label for="id">ID</label> -->
  <input type="hidden" class="auth" th:name="Authorization" value="Adding Authorization"/>
  <input type="hidden" id="id" name="id" th:field="*{id}" required/><br/>


  <div class="col-md-12">
    <label for="name"  class="form-label">Full Name</label>
    <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required/><br/>
  </div>

  <div class="col-md-12">
    <label for="email"  class="form-label">E-Mail</label>
    <input type="text" id="email" name="email" class="form-control" th:field="*{email}"  required/><br/>
  </div>

  <div class="col-md-12">
    <label for="password"  class="form-label">Password</label>
    <input type="hidden" id="password" name="password"  class="form-control" th:field="*{password}" required/><br/>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-light btn-custom-css" style="background-color: #ff4057; color: #FCFFEB;">Create</button>
  </div>

</form>
</body>
</html>