<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Title</title>
</head>
<body>
<form th:action="@{/createUser}" method="post">
  <label for="id">ID</label>
  <input type="hidden" id="id" name="id"/><br/>
  <label for="name">Full Name</label>
  <input type="text" id="name" name="name"/><br/>
  <label for="email">E-Mail</label>
  <input type="text" id="email" name="email"/><br/>
  <label for="password">Password</label>
  <input type="text" id="password" name="password"/><br/>
  <input type="submit" value="Create"/>
</form>
</body>
</html>