<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="body-css">
<!--<div th:insert="fragments/style"></div>-->
<div th:insert="fragments/form-style"></div>

<h1 class="h1-css">Movie Add Form</h1>
<div class="container">
<form th:action="@{/web/createMovie}" th:object="${nowDate}" method="post" class="row g-3">
<div class="col-md-12">
  <label for="id" class="form-label">ID</label>
  <input type="text" id="id" name="id" class="form-control"/><br/>
</div>

  <div class="col-md-2">
  <label for="type" class="form-label">Type</label>
  <input type="text" id="type" name="type" class="form-control"/><br/>
    </div>

    <div class="col-md-2">
  <label for="plot" class="form-label">Plot</label>
  <input type="text" id="plot" name="plot" class="form-control"/><br/>
      </div>

      <div class="col-md-2">
    <label for="fullplot" class="form-label">Full Plot</label>
    <input type="text" id="fullplot" name="fullplot" class="form-control"/><br/>
        </div>

        <div class="col-md-2">
    <label for="poster" class="form-label">Poster</label>
    <input type="url" id="poster" name="poster" class="form-control"/><br/>
          </div>

          <div class="col-md-2">
  <label for="title" class="form-label">Title</label>
  <input type="text" id="title" name="title" class="form-control"/><br/>
            </div>

          <div class="col-md-2">
  <label for="released" class="form-label">Released</label>
  <input type="text" id="released" name="released"  class="form-control"/><br/>
            </div>

          <div class="col-md-2">
  <label for="rated" class="form-label"> Rating</label>
  <input type="text" id="rated" name="rated" class="form-control"/><br/>
            </div>
<!--    <label for="lastupdated">Lastupdated</label>-->
<!--  <input type="hidden" id="lastupdated" name="lastupdated" th:field="*{lastupdated}"/><br/>-->


          <div class="col-md-2">
  <label for="year" class="form-label" >Year</label>
  <input type="number" id="year" name="year" class="form-control"/><br/>

            </div>
          <div class="col-md-2">
  <label for="runtime" class="form-label">Runtime</label>
  <input type="number" id="runtime" name="runtime" class="form-control" /><br/>

            </div>
          <div class="col-md-2">
  <label for="num_mflix_comments" class="form-label">Comments</label>
  <input type="number" id="num_mflix_comments" name="num_mflix_comments" class="form-control"/><br/>

            </div>

          <div class="col-md-2">
  <label for="genres" class="form-label">Genres</label>
  <input type="text" id="genres" name="genres" class="form-control"/><br/>

            </div>
          <div class="col-md-2">
  <label for="cast" class="form-label">Cast</label>
  <input type="text" id="cast" name="cast" class="form-control"/><br/>

            </div>
          <div class="col-md-2">
  <label for="countries" class="form-label">Countries</label>
  <input type="text" id="countries" name="countries" class="form-control"/><br/>

            </div>
            <div class="col-md-2">
  <label for="directors" class="form-label">Directors</label>
  <input type="text" id="directors" name="directors" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="languages" class="form-label">Languages</label>
  <input type="text" id="languages" name="languages" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="writers" class="form-label">Writers</label>
  <input type="text" id="writers" name="writers" class="form-control"/><br/>
              </div>


<!--            <div class="col-md-12">-->
<!--<label class="form-label">Awards: </label>-->
<!--  <input type="hidden"/><br/>-->
<!--              </div>-->

            <div class="col-md-2">
    <label for="wins" class="form-label">Wins</label>
    <input type="number" id="wins" name="wins" class="form-control"/><br/>
              </div>

            <div class="col-md-2">
  <label for="nominations" class="form-label">Nominations</label>
  <input type="number" id="nominations" name="nominations" class="form-control"/><br/>
              </div>

            <div class="col-md-2">
  <label for="text" class="form-label">Text</label>
  <input type="text" id="text" name="text" class="form-control"/><br/>
              </div>

<!--            <div class="col-md-12">-->
<!--  <label class="form-label">IMDB: </label>-->
<!--  <input type="hidden"/><br/>-->
<!--              </div>-->

            <div class="col-md-2">
  <label for="Imdb_id" class="form-label">IMDB ID</label>
  <input type="number" id="Imdb_id" name="Imdb_id" class="form-control"/><br/>
              </div>

            <div class="col-md-2">
  <label for="votes" class="form-label">Votes</label>
  <input type="number" id="votes" name="votes" class="form-control"/><br/>
              </div>

            <div class="col-md-2">
  <label for="rating" class="form-label">Rating</label>
  <input type="text" id="rating" name="rating" class="form-control"/><br/>
              </div>

<!--            <div class="col-md-12">-->
<!--  <label class="form-label">Tomatoes: </label>-->
<!--  <input type="hidden"/><br/>-->
<!--              </div>-->
            <div class="col-md-2">
  <label for="consensus" class="form-label">Consensus</label>
  <input type="text" id="consensus" name="consensus" class="form-control"/><br/>
              </div>

            <div class="col-md-2">
  <label for="dvd" class="form-label">DVD</label>
  <input type="text" id="dvd" name="dvd" class="form-control"/><br/>
              </div>


            <div class="col-md-2">
  <label for="fresh" class="form-label">Fresh</label>
  <input type="number" id="fresh" name="fresh" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="rotten" class="form-label">Rotten</label>
  <input type="number" id="rotten" name="rotten" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="production" class="form-label">Production</label>
  <input type="text" id="production" name="production" class="form-control"/><br/>
              </div>

            <div class="col-md-2">
  <label for="website" class="form-label">Website</label>
  <input type="url" id="website" name="website" class="form-control"/><br/>
              </div>


<!--            <div class="col-md-12">-->
<!--  <label class="form-label">Viewer: </label>-->
<!--  <input type="hidden"/><br/>-->
<!--              </div>-->

            <div class="col-md-2">
  <label for="viewer_rating" class="form-label">Viewer Rating</label>
  <input type="text" id="viewer_rating" name="viewer_rating" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="viewer_numReviews" class="form-label">Number of Viewer Reviews</label>
  <input type="number" id="viewer_numReviews" name="viewer_numReviews" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="viewer_meter" class="form-label">Viewer Meter</label>
  <input type="number" id="viewer_meter" name="viewer_meter" class="form-control"/><br/>

              </div>



<!--            <div class="col-md-12">-->
<!--  <label class="form-label">Critic: </label>-->
<!--  <input type="hidden"/><br/>-->

<!--              </div>-->
            <div class="col-md-2">
  <label for="critic_rating" class="form-label">Critic Rating</label>
  <input type="text" id="critic_rating" name="critic_rating" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="critic_numReviews" class="form-label">Number of Critic Reviews</label>
  <input type="number" id="critic_numReviews" name="critic_numReviews" class="form-control"/><br/>

              </div>
            <div class="col-md-2">
  <label for="critic_meter" class="form-label">Critic Meter</label>
  <input type="number" id="critic_meter" name="critic_meter" class="form-control"/><br/>
            </div>


  <input type="submit" value="Create"/>
</form>
  <p>hi</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>

