<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Find Form</title>
    <div th:insert="fragments/form-style"></div>
</head>
<body>
<div th:insert="fragments/page_style"></div>
<h1>Movie Find Form</h1>
<form th:action="@{/web/findMovieById}" method="post">
  <label for="id">ID</label>
  <input type="text" id="id" name="id"/><br/>


  <!--    <label for="hireDate">Department Name</label>-->
  <!--    <input type="text" id="hireDate" name="hireDate"/><br/>-->

  <input type="submit" value="FindById"/>
</form>

<form th:action="@{/web/findByMoiveTitle}" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title"/><br/>


    <!--    <label for="hireDate">Department Name</label>-->
    <!--    <input type="text" id="hireDate" name="hireDate"/><br/>-->

    <input type="submit" value="FindByTitle"/>
</form>

</body>
</html>