
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Details</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body class="body-css">
    <div th:insert="~{/fragments/nav-bar :: navbar}"></div>
    <!--<div th:insert="fragments/style"></div>-->
    <div th:insert="fragments/form-style"></div>


    <div class="container">
        <h1 class="h1-css">Movie Edit Form</h1>
        <form th:action="@{/web/editMovie}" th:object="${movieToEdit}" method="post" class="row g-3">


            <div class="col-md-8">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" th:field="*{title}"/><br/>
            </div>
            <div class="col-md-1">
                <!--                <label for="id" class="form-label">ID</label>-->
                <input type="hidden" id="id" name="id" class="form-control" th:field="*{id}"/><br/>
            </div>
            <!--  <div class="col-md-2">-->
            <!--  <label for="type" class="form-label">Type</label>-->
            <!--  <input type="text" id="type" name="type" class="form-control"/><br/>-->
            <!--    </div>-->

            <div class="col">
                <label for="plot" class="form-label">Plot</label>
                <textarea rows="2" cols="50" type="text" id="plot" name="plot" class="form-control" th:field="*{plot}"></textarea>
            </div>

            <div class="col-md-12">
                <label for="fullplot" class="form-label">Full Plot</label>
                <textarea rows="4" cols="50" type="text" id="fullplot" name="fullplot" class="form-control" th:field="*{fullplot}"></textarea>
            </div>

            <div class="col-md-6">
                <label for="poster" class="form-label">Poster</label>
                <input type="url" id="poster" name="poster" class="form-control" th:field="*{poster}"/><br/>
            </div>



            <div class="col-md-2">
                <label for="released" class="form-label">Released</label>
                <input type="datetime-local" id="released" name="released"  class="form-control" th:field="*{released}"/><br/>
            </div>

            <div class="col-md-1">
                <label for="rated" class="form-label"> Rating</label>
                <input type="text" id="rated" name="rated" class="form-control"  th:field="*{rated}"/><br/>
            </div>
            <!--    <label for="lastupdated">Lastupdated</label>-->
            <!--  <input type="hidden" id="lastupdated" name="lastupdated" th:field="*{lastupdated}"/><br/>-->


            <!--          <div class="col-md-1">-->
            <!--  <label for="year" class="form-label" >Year</label>-->
            <!--  <input type="number" id="year" name="year" class="form-control"/><br/>-->
            <!--            </div>-->

            <div class="col-md-1">
                <label for="runtime" class="form-label">Runtime</label>
                <input type="number" id="runtime" name="runtime" class="form-control"  th:field="*{runtime}"/><br/>
            </div>

            <!--          <div class="col-md-2">-->
            <!--  <label for="num_mflix_comments" class="form-label">Number of Comments</label>-->
            <!--  <input type="number" id="num_mflix_comments" name="num_mflix_comments" class="form-control"/><br/>-->
            <!--            </div>-->

            <div class="col-md-6">
                <label for="genres" class="form-label">Genres</label>
                <input type="text" id="genres" name="genres" class="form-control" th:field="*{genres}"/><br/>
            </div>

            <div class="col-md-6">
                <label for="cast" class="form-label">Cast</label>
                <input type="text" id="cast" name="cast" class="form-control" th:field="*{cast}"/><br/>
            </div>

            <div class="col-md-6">
                <label for="countries" class="form-label">Countries</label>
                <input type="text" id="countries" name="countries" class="form-control" th:field="*{countries}"/><br/>
            </div>

            <div class="col-md-6">
                <label for="directors" class="form-label">Directors</label>
                <input type="text" id="directors" name="directors" class="form-control" th:field="*{directors}"/><br/>
            </div>

            <div class="col-md-6">
                <label for="languages" class="form-label">Languages</label>
                <input type="text" id="languages" name="languages" class="form-control" th:field="*{languages}"/><br/>
            </div>

            <div class="col-md-6">
                <label for="writers" class="form-label">Writers</label>
                <input type="text" id="writers" name="writers" class="form-control" th:field="*{writers}"/><br/>
            </div>





            <div class="col-md-12">
                <label class="inner_object_lable">Awards </label>
                <input type="hidden"/><br/>
            </div>

            <div class="col-md-2">
                <label for="wins" class="form-label">Wins</label>
                <input type="number" id="wins" name="wins" class="form-control"th:field="*{awards.wins}"/><br/>
            </div>

            <div class="col-md-2">
                <label for="nominations" class="form-label">Nominations</label>
                <input type="number" id="nominations" name="nominations" class="form-control" th:field="*{awards.nominations} "/><br/>
            </div>

            <div class="col-md-3">
                <label for="text" class="form-label">Text</label>
                <input type="text" id="text" name="text" class="form-control" th:field="*{awards.text}"/><br/>
            </div>







            <div class="col-md-12">
                <label class="inner_object_lable">IMDB </label>
                <input type="hidden"/><br/>
            </div>

            <div class="col-md-1">
                <label for="Imdb_id" class="form-label">IMDB ID</label>
                <input type="number" id="Imdb_id" name="Imdb_id" class="form-control" th:field="*{imdb.imdb_id}"/><br/>
            </div>

            <div class="col-md-1">
                <label for="votes" class="form-label">Votes</label>
                <input type="number" id="votes" name="votes" class="form-control" th:field="*{imdb.votes}"/><br/>
            </div>

            <div class="col-md-1">
                <label for="rating" class="form-label">Rating</label>
                <input type="text" id="rating" name="rating" class="form-control" th:field="*{imdb.rating}"/><br/>
            </div>




            <div class="col-md-12">
                <label class="inner_object_lable">Rotten Tomatoes </label>
                <input type="hidden"/><br/>
            </div>
            <div class="col-md-12">
                <label for="consensus" class="form-label">Consensus</label>
                <input type="text" id="consensus" name="consensus" class="form-control" th:field="*{tomatoes.consensus}"/><br/>
            </div>

            <div class="col-md-2">
                <label for="dvd" class="form-label">DVD</label>
                <input type="datetime-local" id="dvd" name="dvd" class="form-control"  th:field="*{tomatoes.dvd}"/><br/>
            </div>


            <div class="col-md-1">
                <label for="fresh" class="form-label">Fresh</label>
                <input type="number" id="fresh" name="fresh" class="form-control" th:field="*{tomatoes.fresh}"/><br/>

            </div>
            <div class="col-md-1">
                <label for="rotten" class="form-label">Rotten</label>
                <input type="number" id="rotten" name="rotten" class="form-control" th:field="*{tomatoes.rotten}"/><br/>

            </div>
            <div class="col-md-2">
                <label for="production" class="form-label">Production</label>
                <input type="text" id="production" name="production" class="form-control" th:field="*{tomatoes.production}"/><br/>
            </div>

            <div class="col-md-6">
                <label for="website" class="form-label">Website url</label>
                <input type="url" id="website" name="website" class="form-control" th:field="*{tomatoes.website}"/><br/>
            </div>


            <!--            <div class="col-md-12">-->
            <!--  <label class="form-label">Viewer: </label>-->
            <!--  <input type="hidden"/><br/>-->
            <!--              </div>-->

            <div class="col-md-4">
                <label for="viewer_rating" class="form-label">Viewer Rating</label>
                <input type="text" id="viewer_rating" name="viewer_rating" class="form-control" th:field="*{tomatoes.viewer.viewer_rating}"/><br/>

            </div>
            <div class="col-md-4">
                <label for="viewer_numReviews" class="form-label">Number of Viewer Reviews</label>
                <input type="number" id="viewer_numReviews" name="viewer_numReviews" class="form-control" th:field="*{tomatoes.viewer.viewer_numReviews}"/><br/>

            </div>
            <div class="col-md-4">
                <label for="viewer_meter" class="form-label">Viewer Meter</label>
                <input type="number" id="viewer_meter" name="viewer_meter" class="form-control" th:field="*{tomatoes.viewer.viewer_meter}"/><br/>

            </div>



            <!--            <div class="col-md-12">-->
            <!--  <label class="form-label">Critic: </label>-->
            <!--  <input type="hidden"/><br/>-->

            <!--              </div>-->
            <div class="col-md-4">
                <label for="critic_rating" class="form-label">Critic Rating</label>
                <input type="text" id="critic_rating" name="critic_rating" class="form-control" th:field="*{tomatoes.critic.critic_rating}"/><br/>

            </div>
            <div class="col-md-4">
                <label for="critic_numReviews" class="form-label">Number of Critic Reviews</label>
                <input type="number" id="critic_numReviews" name="critic_numReviews" class="form-control" th:field="*{tomatoes.critic.critic_numReviews}"/><br/>

            </div>
            <div class="col-md-4">
                <label for="critic_meter" class="form-label">Critic Meter</label>
                <input type="number" id="critic_meter" name="critic_meter" class="form-control" th:field="*{tomatoes.critic.critic_meter}"/><br/>
            </div>


            <div class="col-12">
                <button type="submit" class="btn btn-light btn-custom-css" style="background-color: #ff4057; color: #FCFFEB;">Edit</button>
            </div>

        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    </body>
    </html>

