<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    .cards {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      grid-gap: 50px;
      margin: 30px;
    }

    .card {
      position: relative;
      display: flex;
      height: 380px;
      width: 300px;
      padding: .5rem;
      /*border: 1px outset $light-gray;*/
      border-radius: 5px;
      /*color: $light-gray;*/
      margin-bottom: 30px;
    }

    a{
      width: 100%;
      height: 100%;
      color:white;
    }

    a:hover{
      text-decoration:none;
      color:white;
    }
  </style>

</head>
<body>
<!--<div th:insert="~{/fragments/nav-bar :: navbar}"></div>-->
<div th:insert="fragments/page_style"></div>
<h1>Movies Details</h1>
<button><a th:href="@{/web/movie/create}" >Create A Movie</a></button>
<button><a th:href="@{/web/movie/find}">Find A Movie</a></button>
<!--<table class="table table-striped-columns table-light table-hover">-->
<!--  <thead>-->
<!--  <tr class="text-center col col-md-auto col1">-->
<!--    <th scope="col">ID</th>-->
<!--    <th scope="col">Poster</th>-->
<!--    <th scope="col">Title</th>-->
<!--    <th scope="col">Plot</th>-->
<!--    <th scope="col">Directors</th>-->
<!--    <th scope="col">Cast</th>-->
<!--    <th scope="col">Genres</th>-->
<!--    <th scope="col">Runtime</th>-->
<!--    <th scope="col">Rated</th>-->
<!--    <th scope="col">Year</th>-->
<!--    <th scope="col">Released</th>-->
<!--    <th scope="col">Type</th>-->
<!--    <th scope="col">Writers</th>-->
<!--    <th scope="col">Countries</th>-->
<!--    <th scope="col">Awards</th>-->
<!--    <th scope="col">IMDB</th>-->
<!--    <th scope="col">Rotten Tomatoes</th>-->


<!--    <th scope="col">Languages</th>-->
<!--    <th scope="col">Comments</th>-->
<!--    <th scope="col">Full Plot</th>-->
<!--    <th scope="col">Last Updated</th>-->

<!--    <th scope="col">Edit</th>-->
<!--    <th scope="col">Delete</th>-->

<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody class="table-group-divider">-->
<!--  <tr class="text-center" th:each="movie : ${movies}">-->
<!--    <td th:text="${movie.id}"></td>-->
<!--    <td>-->
<!--      <a th:href="${movie.poster}" >-->
<!--          <img th:src="${movie.poster}" style="width: 100px; height: 150px;">-->
<!--      </a>-->
<!--    </td>-->
<!--    <td th:text="${movie.title}"></td>-->
<!--    <td th:text="${movie.plot}"></td>-->
<!--    <td >-->

<!--      <table >-->
<!--        <tr  th:each="director : ${movie.directors}">-->
<!--          <td class="inner" ><a th:text="${director}"></a></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->
<!--    <td>-->
<!--      <table >-->
<!--        <tr  th:each="ca : ${movie.cast}">-->
<!--          <td class="inner" ><a th:text="${ca}"></a></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->

<!--    <td>-->
<!--    <table >-->
<!--      <tr  th:each="genre : ${movie.genres}">-->
<!--        <td class="inner" ><a th:text="${genre}"></a></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--    </td>-->

<!--    <td th:text="${movie.runtime}"></td>-->
<!--    <td th:text="${movie.rated}"></td>-->
<!--    <td th:text="${movie.year}"></td>-->
<!--    <td th:text="${movie.released}"></td>-->
<!--    <td th:text="${movie.type}"></td>-->

<!--    <td>-->
<!--      <table >-->
<!--        <tr  th:each="writer : ${movie.writers}">-->
<!--          <td class="inner" ><a th:text="${writer}"></a></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->

<!--    <td>-->
<!--      <table >-->
<!--        <tr  th:each="country : ${movie.countries}">-->
<!--          <td class="inner" ><a th:text="${country}"></a></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->



<!--    <td>-->
<!--      <span th:if="${movie.awards!=null}">-->
<!--      <table >-->
<!--        <tr> <td class="inner" th:text="'nominations: '+${movie.awards.nominations}"></td> </tr>-->
<!--        <tr> <td class="inner" th:text="'text: '+${movie.awards.text}"></td> </tr>-->
<!--        <tr> <td class="inner" th:text="'wins: '+${movie.awards.wins}"></td> </tr>-->
<!--      </table>-->
<!--        </span>-->
<!--    </td>-->

<!--    <td>-->

<!--      <table th:if="${movie.imdb!=null}">-->
<!--        <tr> <td class="inner" th:text="'imdb_id: '+${movie.imdb.imdb_id}"></td> </tr>-->
<!--        <tr> <td class="inner" th:text="'rating: '+${movie.imdb.rating}"></td> </tr>-->
<!--        <tr> <td class="inner" th:text="'votes: '+${movie.imdb.votes}"></td> </tr>-->
<!--      </table>-->

<!--    </td>-->
<!--    <td>-->

<!--      <table th:if="${movie.tomatoes!=null}">-->
<!--        <tr> <td class="inner" th:text="'fresh: '+${movie.tomatoes.fresh}"></td> </tr>-->
<!--        <tr> <td class="inner" th:text="'rotten: '+${movie.tomatoes.rotten}"></td> </tr>-->
<!--        <tr> <td class="inner" ></td> <a th:text="${movie.tomatoes.website}" th:href="${movie.tomatoes.website}"></a></tr>-->
<!--        <tr> <td class="inner" th:text="'production: '+${movie.tomatoes.production}"></td> </tr>-->
<!--        <tr class="inner" th:text="'dvd: '+${movie.tomatoes.dvd}">  </tr>-->
<!--        <tr> <td class="inner" th:text="'consensus: '+${movie.tomatoes.consensus}"></td> </tr>-->
<!--        <tr> <td class="inner" th:text="'tomato_lastUpdated: '+${movie.tomatoes.tomato_lastUpdated}"></td> </tr>-->

<!--        <tr th:if="${movie.tomatoes.viewer!=null}">-->
<!--          <td class="inner" th:text="'viewer_rating: '+${movie.tomatoes.viewer.viewer_rating}"></td>-->
<!--          <td class="inner" th:text="'viewer_meter: '+${movie.tomatoes.viewer.viewer_meter}"></td>-->
<!--          <td class="inner" th:text="'viewer_numReviews: '+${movie.tomatoes.viewer.viewer_numReviews}"></td>-->

<!--        </tr>-->


<!--        <tr th:if="${movie.tomatoes.critic!=null}">-->
<!--          <td class="inner" th:text="'critic_rating: '+${movie.tomatoes.critic.critic_rating}"></td>-->
<!--          <td class="inner" th:text="'critic_meter: '+${movie.tomatoes.critic.critic_meter}"></td>-->
<!--           <td class="inner" th:text="'critic_numReviews: '+${movie.tomatoes.critic.critic_numReviews}"></td>-->
<!--        </tr>-->

<!--      </table>-->
<!--    </td>-->



<!--    <td>-->
<!--      <table >-->
<!--        <tr  th:each="language : ${movie.languages}">-->
<!--          <td class="inner" ><a th:text="${language}"></a></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->

<!--    <td th:text="${movie.num_mflix_comments}"></td>-->
<!--    <td th:text="${movie.fullplot}"></td>-->
<!--    <td th:text="${movie.lastupdated}"></td>-->
<!--        <td ><a class="btn btn-light" type="button" th:href="@{/web/movie/edit/{id}(id=${movie.id})}">Edit</a></td>-->
<!--        <td ><a class="btn btn-danger" type="button" th:href="@{/web/movie/delete/{id}(id=${movie.id})}">Delete</a></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<div class="cards">
  <div  class="card" style="width: 18rem;" th:each="movie : ${movies}">
    <img th:src="${movie.poster}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>


<!--<div th:insert="fragments/footer :: alternate">This is some text</div>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>