<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
    <!--localhost:5000/updateAuthor?id=3&fullName=Manish-->
</head>
<body>
<!--<div th:insert="fragments/style"></div>-->
<h1>Movie Edit Form</h1>
<form th:action="@{/editMovie}" th:object="${movieToEdit}" method="post">
    <!--    <label for="id">ID</label>-->
    <label for="id">ID</label>
    <input type="text" id="id" name="id"/><br/>

    <label for="plot">Plot</label>
    <input type="text" id="plot" name="plot"/><br/>

    <label for="genres">Genres</label>
    <input type="text" id="genres" name="genres"/><br/>

    <label for="runtime">Runtime</label>
    <input type="text" id="runtime" name="runtime"/><br/>

    <label for="cast">Cast</label>
    <input type="text" id="cast" name="cast"/><br/>

    <label for="num_mflix_comments">Comments</label>
    <input type="text" id="num_mflix_comments" name="num_mflix_comments"/><br/>

    <label for="title">Title</label>
    <input type="text" id="title" name="title"/><br/>

    <label for="fullplot">Full plot</label>
    <input type="text" id="fullplot" name="fullplot"/><br/>

    <label for="countries">Countries</label>
    <input type="text" id="countries" name="countries"/><br/>

    <label for="released">Released</label>
    <input type="text" id="released" name="released"/><br/>

    <label for="directors">Directors</label>
    <input type="text" id="directors" name="directors"/><br/>

    <label for="rated">Rating</label>
    <input type="text" id="rated" name="rated"/><br/>

    <label for="lastupdated">Last Updated</label>
    <input type="text" id="lastupdated" name="lastupdated"/><br/>

    <label for="year">Year</label>
    <input type="text" id="year" name="year"/><br/>

    <label for="type">Type</label>
    <input type="text" id="type" name="type"/><br/>

    <label for="fresh">Rotten Tomatoes Fresh</label>
    <input type="text" id="fresh" name="fresh" th:field="*{tomatoes.fresh}"/>

    <label for="tomatoes_lastUpdated">Rotten Tomatoes Last Updated</label>
    <input type="text" id="tomatoes_lastUpdated" name="tomatoes_lastUpdated" th:field="*{tomatoes.lastUpdated}"/><br/>

    <label for="tomatoes_rotten">Rotten Tomatoes Rotten</label>
    <input type="text" id="tomatoes_rotten" name="tomatoes_rotten" th:field="*{tomatoes.rotten}"/><br/>

<!--    <label for="tomatoes">Rotten Tomatoes Website</label>-->
<!--    <input type="text" id="tomatoes" name="viewer.meter"/><br/>-->

    <label for="award_nominations">Award Nominations:</label>
    <input type="text" id="award_nominations" name="award_nominations" th:field="*{awards.nominations}"><br>

    <label for="award_wins">Award Wins:</label>
    <input type="number" id="award_wins" name="award_wins" th:field="*{awards.wins}"><br>

    <label for="award_text">Award Text:</label>
    <input type="text" id="award_text" name="award_text" th:field="*{awards.text}"><br>

    <label for="imdb_id">Imdb Id</label>
    <input type="text" id="imdb_id" name="imdb_id" th:field="*{imdb.id}"><br>

    <label for="imdb_rating">Imdb Rating</label>
    <input type="number" id="imdb_rating" name="imdb_rating" th:field="*{imdb.rating}"><br>

    <label for="award_votes">Imdb Votes</label>
    <input type="text" id="award_votes" name="award_votes" th:field="*{imdb.votes}"><br>

    <label for="viewer_meter">Viewer Meter</label>
    <input type="text" id="viewer_meter" name="viewer_numReviews" th:field="*{tomatoes.viewer.meter}"/><br/>

    <label for="viewer_numReviews">Viewer Number of Reviews</label>
    <input type="text" id="viewer_numReviews" name="viewer_rating" th:field="*{tomatoes.viewer.numReviews}"/><br/>

    <label for="viewer_rating">Viewer Rating</label>
    <input type="text" id="viewer_rating" name="viewer_rating" th:field="*{tomatoes.viewer.rating}"/><br/>

    <label for="critic_meter">Critic Meter</label>
    <input type="text" id="critic_meter" name="critic_meter" th:field="*{tomatoes.critic.meter}"/><br/>

    <label for="critic_numReviews">Critic Number of Reviews</label>
    <input type="text" id="critic_numReviews" name="critic_numReviews" th:field="*{tomatoes.critic.numReviews}"/><br/>

    <label for="critic_rating">Critic Rating</label>
    <input type="text" id="critic_rating" name="critic_rating" th:field="*{tomatoes.critic.rating}"/><br/>

    <input type="submit" value="Update"/>
</form>
<!--<div th:insert="fragments/footer"></div>-->
</body>
</html>


