<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Find Form</title>
</head>
<body>
<div th:insert="fragments/style"></div>
<h1>Movie Find Form</h1>
<form th:action="@{/web/findMovieById}" method="post">
  <label for="id">ID</label>
  <input type="text" id="id" name="id"/><br/>


  <!--    <label for="hireDate">Department Name</label>-->
  <!--    <input type="text" id="hireDate" name="hireDate"/><br/>-->

  <input type="submit" value="FindById"/>
</form>


</body>
</html>