<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movie</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<div th:insert="~{/fragments/nav-bar :: navbar}"></div>
<body>

<span th:if="${movies==null}">Movie not found</span>
<span th:unless="${movies==null}">
<!--<div th:insert="~{/fragments/nav-bar :: navbar}"></div>-->
  <!--<div th:insert="fragments/style"></div>-->
<h1>Movie Details</h1>
  <table class="table table-striped-columns table-light table-hover">
    <thead>
    <tr class="text-center col col-md-auto col1">
      <th scope="col">ID</th>
      <th scope="col">Poster</th>
      <th scope="col">Title</th>
      <th scope="col">Plot</th>
      <th scope="col">Directors</th>
      <th scope="col">Cast</th>
      <th scope="col">Genres</th>
      <th scope="col">Runtime</th>
      <th scope="col">Rated</th>
      <th scope="col">Year</th>
      <th scope="col">Released</th>
      <th scope="col">Awards</th>
      <th scope="col">IMDB</th>
      <th scope="col">Type</th>
      <th scope="col">Rotten Tomatoes</th>
      <th scope="col">Writers</th>
      <th scope="col">Countries</th>
      <th scope="col">Languages</th>
      <th scope="col">Comments</th>
      <th scope="col">Full Plot</th>
      <th scope="col">Last Updated</th>

    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr class="text-center" th:each="movie : ${movies}">
      <td th:text="${movie.id}"></td>
      <td th:text="${movie.poster}"></td>
      <td th:text="${movie.title}"></td>
      <td th:text="${movie.plot}"></td>
      <td th:text="${movie.directors}"></td>
      <td th:text="${movie.cast}"></td>
      <td th:text="${movie.genres}"></td>
      <td th:text="${movie.runtime}"></td>
      <td th:text="${movie.rated}"></td>
      <td th:text="${movie.year}"></td>
      <td th:text="${movie.released}"></td>
      <td th:text="${movie.awards}"></td>
      <td th:text="${movie.imdb}"></td>
      <td th:text="${movie.type}"></td>
      <td th:text="${movie.tomatoes}"></td>
      <td th:text="${movie.writers}"></td>
      <td th:text="${movie.countries}"></td>
      <td th:text="${movie.language}"></td>
      <td th:text="${movie.num_mflix_comments}"></td>
      <td th:text="${movie.fullplot}"></td>
      <td th:text="${movie.lastupdated}"></td>
      <!--    <td ><a class="btn btn-light" type="button" th:href="@{/departments/edit/{id}(id=${department.getId()})}">Edit</a></td>-->
      <!--    <td ><a class="btn btn-danger" type="button" th:href="@{/departments/delete/{id}(id=${department.getId()})}">Delete</a></td>-->
    </tr>
    </tbody>
  </table>
  <!--<button><a th:href="@{/movie/create}" >Create A Movie</a></button>-->
  <!--<button><a th:href="@{/movie/find}">Find A Movie</a></button>-->
</span>
<!--<div th:insert="fragments/footer :: alternate">This is some text</div>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>
</html>